#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

h2 {
    font-size: 2.5rem;
    margin: 40px 0;
    color: var(--color-primary);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
}

input {
    border: 1px solid silver;
    margin-bottom: 50px;
    padding: 15px;
    width: 300px;
    font-size: 1rem;
    color: var(--color-primary);
    border-radius: 10px;
}

input:focus {
    outline: none;
    border-color: var(--color-primary);
}

button {
    border: none;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-top: 40px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

a p {
    margin-left: 10px;
}

a:hover {
    transform: scale(1.3);
}